<!DOCTYPE html>
<html>
    <head>
        <meta content="0.1" name="version">
            <title>
            </title>
        </meta>
    </head>
    <body>
        <div align="center" style="min-width: 100% !important;">
            <div style="min-width: 100% !important;">
                <img align="middle" alt="" src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/4fd40f1f-65c9-4532-9f29-31f94e17a451/aff29b85353666913cf12f67b46cc77c1afbf886_original.png" style="max-width: 100%; width: 872px;"/>
            </div>
            <div style="min-width: 100% !important;">
                <img align="middle" alt="" src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/4fd40f1f-65c9-4532-9f29-31f94e17a451/c45d2241506b5e297c6afc275a4c6680e3991271_original.png" style="max-width: 100%; width: 872px;"/>
            </div>
            <div style="min-width: 100% !important;">
                <br/>
                <div style="text-align: center;">
                    <h3 style="text-align: center;">
                        <span style="font-family: georgia, palatino; font-size: large; color: #3b0b2e;">
                            {{productname}}
                        </span>
                    </h3>
                    <br/>
                    <br/>
                    <div style="min-width: 100% !important;">
                        <div align="center" style="min-width: 100% !important;">
                            {<img align="middle" src="{{productimages}}_max_2" width="100%"/>}
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <p align="justify">
                            <span style="font-family: georgia, palatino; font-size: medium;">
                                {{productdesc}}
                                <ul>
                                    <li hidden=""><b>Codigo:</b>{{sku}}</li>
                                    {<li><b>{{atribute_name}}:</b>{{atribute_val}}</li>}
                                </ul>
                            </span>
                        </p>
                        <br/>
                        <div style="min-width: 100% !important; clear: both;">
                            <br/>
                            <img align="middle" alt="" src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/4fd40f1f-65c9-4532-9f29-31f94e17a451/bca600d2a274b807749e9eadd2f1916d3bba7c0c_original.png" style="max-width: 100%; width: 872px;"/>
                        </div>
                        <div style="min-width: 100% !important; clear: both;">
                            <img align="middle" alt="" src="https://d3pl14o4ufnhvd.cloudfront.net/v2/uploads/4fd40f1f-65c9-4532-9f29-31f94e17a451/22abed46b4a21159d080bd69ff0e7732621cce5a_original.png" style="max-width: 100%; width: 872px;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
