<p>
	<span id="V3">&nbsp;</span>
</p>
<div align="center" border="0" cellpadding="18" cellspacing="0" style=" max-width: 918px; overflow: auto; margin: 0 auto; " >
	<div border="0" cellpadding="18" cellspacing="0" style="min-width: 100% !important;" width="100%">
		<img class="fr-dii fr-draggable" style="max-width: 100%; width: 1273px;" src="https://yaxa.github.io/{{code_store}}/{{template_type}}/1-header-{{code_store}}.jpg" align="middle">
	</div>
	<div border="0" cellpadding="18" cellspacing="0" style="min-width: 100% !important;" width="100%">
		<img class="fr-dii fr-draggable" style="max-width: 100%; width: 1273px;" src="https://yaxa.github.io/{{code_store}}/{{template_type}}/2-{{code_store}}.jpg" align="middle">
	</div>
	<div border="0" cellpadding="18" cellspacing="0" style="min-width: 100% !important;" width="100%">
		<img class="fr-dii fr-draggable" style="max-width: 100%; width: 1273px;" src="https://yaxa.github.io/{{code_store}}/{{template_type}}/3-{{code_store}}.jpg" align="middle">
	</div>
	<div border="0" cellpadding="18" cellspacing="0" style="min-width: 100% !important;" width="100%">
		<img class="fr-dii fr-draggable" style="max-width: 100%; width: 1273px;" src="https://yaxa.github.io/{{code_store}}/{{template_type}}/4-{{code_store}}.jpg" align="middle">
	</div>
	<div border="0" cellpadding="18" cellspacing="0" style="min-width: 100% !important;" width="100%">
		
		<div style="padding: 45px 35px 20px 35px; color: #3C3C3B; font-weight: 300; text-align: justify !important;  font-family: 'PT Sans Narrow', sans-serif; ">
			<table style="color: #3C3C3B;    background-color: #e9e9e8; font-weight: 300; " width="100%">
				<tbody>
					<tr>
						<td width="30%" style="padding: 10px;">     
							{{productimages}}
			 			</td>
			 			<td style="background-color: #e9e9e8; padding: 20px" valign="top">    
							<h3 style="text-align:center;font-size: 26px; font-weight: 300; color: #3C3C3B;">DESCRIPCIÓN</h3>    
							<p>{{productdesc}}</p>
			 			</td>
			 		</tr>
			 	</tbody>
			 </table>
			 <table style="margin-top: 20px; color: #3C3C3B; font-weight: 300; " width="100%">
			 	<tbody>
			 		<tr>
			 			<td style="background-color: #e9e9e8; padding: 20px">
			      			<p>{{productdetails}}</p>
			         		<div style="clear: both;"></div>    
			        	</td>
			    	</tr>
			    </tbody>
			</table>
		</div>
	</div>
	<div border="0" cellpadding="18" cellspacing="0" style="min-width: 100% !important; clear:both;" width="100%">
		<img class="fr-dii fr-draggable" style="max-width: 100%; width: 1273px;" src="https://yaxa.github.io/{{code_store}}/{{template_type}}/5-footer-{{code_store}}.jpg" align="middle">
	</div>
</div>

